
:root{
    --amarelo-principal: #f8e71d;
    --roxo-principal: #311c69;
     }
     
    body {
       background: var(--roxo-principal);
     }
     
     header{
       
       width: 100%;
       height: 200px;
       background: #f8e71d;
     }
     header h1 {
       color: var(--roxo-principal);
     }
     header img {
      width: 20%;
      height: auto;
     }
      .principal {
       width: 70%;
       height: max-content;
       background: #ffef65;
     }

     @media screen and (max-width: 800px) {
  
      .principal {
        width: 100%;
        background: #ffef65;
      }
    
      main {
        background: var(--roxo-principal);
        color: aliceblue;
        width: auto;
      }
      
      h1 {
        color: aliceblue;
      }

      header img {
        width: 30%;
        height: auto;
       }
    }

     
     