:root{
  --roxo-principal: #311c69;
}

body {
  background: var(--roxo-principal);
}

main {  
  width: 300px;
  background: #F8E71D;
  border-radius: 20px;
  padding: 20px;
}

h1 {
  color: var(--roxo-principal);
}

@media screen and (max-width: 800px) {
  
  main {
    background: var(--roxo-principal);
    color: aliceblue;
    width: auto;
  }
  
  h1 {
    color: aliceblue;
  }

  .tenho-conta {
    color: aliceblue;
  }
}